MONGODB_URI=mongodb+srv://sanchit152007:YOUR_PASSWORD@cluster0.gexpjkv.mongodb.net/vmms?retryWrites=true&w=majority&appName=Cluster0

GOOGLE_CLIENT_ID=351482844740-79taqtutogfvl4jbbk9ls5bm24srhljd.apps.googleusercontent.com

GOOGLE_DRIVE_ROOT_FOLDER_ID=1rrRPGMrPIPc9nACkBDiQaq7w1T5JpVkX

GOOGLE_APPLICATION_CREDENTIALS=./herma-shipping-8c3992f2d242.json